:root{
    --primary-color: #16131e;
    --light-primary-color: #3f3654;
    --dark-primary-color: #09070e;
    --secondary-color: #dd1f42;
    --text-color: #fff;
    --highlight-color: var(--secondary-color);
            /*#23dcf3;*/
}

html {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

body {
    background: var(--primary-color);
    margin: 0;

    > section:last-of-type {
        border-bottom: 2px dashed var(--secondary-color);
        margin-bottom: 4rem;
    }
}

section{
    margin: auto;
    padding: 0 1.5rem;
    width: calc(100% - 4rem);
    max-width: 1100px;
}
p, a, li{
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 0 0 1rem;
}
a:hover{
    color: var(--highlight-color);
    transition: color 100ms, border-bottom-color 100ms, background-color 100ms, border-radius 100ms;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
    color: var(--secondary-color);
    font-family: 'Winky Sans', sans-serif;
    font-weight: 700;
}
h3 {
    font-size: 2.25rem;
    width: fit-content;
    margin: 0.5rem auto 0;
}
h4 {
    font-size: 1.7rem;
    margin-top: 0;
}
h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
    color: var(--text-color);
}

li {
    margin-bottom: 0.35rem;
}
li::marker {
    color: var(--text-color);
}

.description {
    font-size: 1rem;
    font-family: "Winky Sans", sans-serif;
    font-style: italic;
    width: fit-content;
    margin: auto auto 1rem;
}

.txt_highlight {
    color: var(--secondary-color);
}

.icon {
    aspect-ratio: 1 / 1;
    width: 2.5rem;
}

.button {
    font-family: "Consolas", "Inter", sans-serif;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.6rem;
    background-color: var(--light-primary-color);
    border: 2px solid var(--text-color);
    border-radius: 1.25rem;
    margin: 0;
    transition: transform 200ms, background-color 400ms;
    font-size: 1rem;
}

.git {
    background-color: black;
}

.stylized {
    background-color: var(--secondary-color);
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    border-color: var(--dark-primary-color);
    color: var(--dark-primary-color);
    transition: transform 200ms, background-color 800ms;
    margin: auto;
}

.button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
    color: var(--text-color);
}

.stylized:hover {
    background-color: var(--dark-primary-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

header {
    position: sticky;
    top: 0;
    
    min-width: 100vw;
    padding: 0.75rem 0 0.9rem;

    background-color: var(--dark-primary-color);
    border-bottom: 2px solid var(--secondary-color);

    > section {
        display: flex;
        justify-content: space-between;
    }
    a {
        font-weight: 400;
        margin: 0;
        text-decoration: none;
        color: var(--secondary-color);
    }
    nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        > a, > div > a {
            border-bottom: 1px solid var(--secondary-color);
            padding: 0.5rem 0.75rem;
            border-radius: 1.25rem 1.25rem 0 0;
        }
        .dropdown-content {
            background-color: var(--secondary-color);
            padding: 0.4rem 0.75rem 0.75rem;
            border-radius: 0 1.25rem 1.25rem 1.25rem;
        }
        > a:hover {
            border-bottom-color: transparent;
            background-color: var(--secondary-color);
            border-radius: 1.25rem;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    flex-direction: column;
    gap: 0.25rem;
    a {
        display: block;
    }
}
.dropdown:hover .dropdown-content {display: flex;}
.dropdown:hover a { 
    background-color: var(--secondary-color); 
    color: var(--dark-primary-color); 
}
header a:hover { color: var(--text-color) !important; }

footer {
    background: var(--dark-primary-color);
    border-top: 2px solid var(--secondary-color);
    padding-top: 2rem;
    padding-bottom: 4rem;

    .bullets{
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 1rem;
        
        div {
            flex-basis: max-content;
        }

        .Credits{
            flex-basis: min(300px, 100%);
            max-width: 650px;
            flex-grow: 1;
        }
    }
    
    .CV-link {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px dashed var(--secondary-color);
    }

    p, a, li {
        font-size: 1rem;
        font-weight: 300;
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    h4 {
        margin-bottom: 0.75rem;
        font-family: "Inter", sans-serif;
    }
    
    strong {
        font-size: 1.2rem;
        font-weight: 700;
    }
}


.divider {
    height: 17.5rem;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px dashed var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        padding: 0 2rem 0.4rem;
        font-size: 4rem;
        border-top: 2px solid var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
    }
}

.small {
    height: 12.5rem;
}

.multisection {
    section:not(:last-child) {
        margin-bottom: 5rem;
    }
    section:last-child {
        margin-bottom: 2rem;
    }
}

.project-intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /*p {*/
    /*    max-width: 700px;*/
    /*}*/
    > img {
        max-width: min(30%, 250px);
        border-radius: 25%;
        border: 2px solid var(--text-color);
    }
    > div {
        height: 100%;
    }
}

.project-links {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#Aced_Class_Table{
    border-top: 1px solid var(--secondary-color);
    /*border-bottom: 1px solid var(--secondary-color);*/
    column-gap: 3vw;
    width: 100%;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    img {
        aspect-ratio: 5 / 6;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 2px solid var(--text-color);
    }

    p{
        margin: 1rem 0;
    };
}
.university {
    h3 {
        margin: 0.5rem 0 -0.75rem;
    }
    margin-bottom: 1.5rem;
}

.university {
    display: grid;
    gap: 1rem;
    grid-template-columns: min(25vw, 300px) 1fr;
    h3 {
        grid-column: span 2;
    }
    img {
        max-width: min(25vw, 300px);
    }
    .logo {
        border: solid 10px black;
        max-width: calc(min(25vw, 300px) - 20px);
        margin: auto 0;
    }
}

.certifications{
    display: flex;
    justify-content: center;
    gap: 10vw;
    img {
        max-width: min(20vw, 250px);
    }
    > a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: transform 100ms;
        max-width: min(20vw, 250px);
        text-align: center;
    }
    a:hover {
        transform: scale(1.05);
    }
    h4 {
        color: var(--text-color);
        font-family: 'Inter', sans-serif;
        margin: 0.75rem 0 0.125rem;
    }
    p {
        margin-top: 0.25rem;
    }
}

