:root {
    /*TODO Update this colors*/
    --bg-clr: #1d1b2b;
    --secondary-clr: #161320;
    --txt-clr: white;
}

html {
    background-color: var(--bg-clr);
    color: var(--txt-clr);
    
    font-family: "Roboto Mono", monospace;
    font-weight: 350;
}

h1, h2 {
    font-weight: 500;
}

.section-divider {
    background-color: var(--secondary-clr);
}

ul.no-list li {
    list-style: none;
}

.project-img {
    img {
        border: 2px solid var(--secondary-clr);
        border-radius: 5px;
    }
}

.skill-tags {
    li {
        background-color: #909090;
        border-radius: 5px;
    }
    .title{
        background-color: transparent;
        font-weight: 500;
    }
    .red {background-color: #c80909;}
    .blue {background-color: #3541d4;}
    .light-blue {background-color: #008cca}
    .purple {background-color: #6100d8}
    .green {background-color: #0f8814;}
    .pink {background-color: #db1f89;}
    .dark {background-color: #404040;}
}

.experience:not(:first-child) {
    border-top: white 1px solid;
}
